*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}


body {
    background-color: #f3f3f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* common css */
.container{
    max-width: 800px;
    margin: 0 auto;

}
    /* header  */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
}


.main-nav{
}

.nav-item {
padding: 12px 24px;
display: inline-block;
color: white;
text-decoration: none;
text-transform: uppercase;
}

.nav-item:hover{
    background-color: white;
    color: #333
}

/* band section */

.band-text {
    text-align: justify;
}

.band-cards{
    display: flex;
}

.band-cards figcaption{
    text-align: center;
    margin-bottom: 25px;
}

.tour-cards-container{
    background-color: black;
    display: flex;
    color: white;
    max-width: 800px;
    margin: auto;
    justify-content: space-around;
}

.tour-card{
    /* padding: 12px 24px; */
    background-color: white;
    color: black;
    width: 30%;
    margin-top: 25px;
    margin-bottom: 100px;
}

section.tours-section{
    background-color: black;
}

.buy-ticket{
    background-color: black;
    color: white;
    padding: 5px;
}

.tour-card-info{
    padding: 0px 20px 20px 20px;
    
}
