* {
    box-sizing: border-box;
}


body {
    background-color: #f3f3f3;
}

.container {
    padding: 10px;
    border: 1px solid black;
}

.box {
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 207, 198);
    /* inline block */
    display: inline-block;
    max-width: 30%;
    min-height: 215px;
    vertical-align: top;

}

.inline-block-way .box{
     /* inline block */
     display: inline-block;
     max-width: 30%;
     min-height: 215px;
     vertical-align: top;
}

